@page
@model IdentityServer4TestPage.Pages.Account.RegisterModel
@{
    Layout = "~/Pages/Shared/_LayoutMainPage.cshtml";
}

<form id="form1" method="post" class="d-flex justify-content-center" style="margin-top:50px">
    <div class="card" style="width:30rem">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="RegisterViewModel.Email">Account</label>
                <input type="text" class="form-control" asp-for="RegisterViewModel.Email">
                <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.Password">Password</label>
                <input type="password" class="form-control" asp-for="RegisterViewModel.Password">
                <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.ConfirmPassword">Confirm-Password</label>
                <input type="password" class="form-control" asp-for="RegisterViewModel.ConfirmPassword">
                <span asp-validation-for="RegisterViewModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="register" name="button" value="register" type="submit" class="btn btn-primary">Register</button>
            <button id="backToLogin" name="button" value="backToLogin" type="button" class="btn btn-link">Back to login</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#backToLogin").on("click", function () {
            window.location.href = "Login"
        });
    });
</script>
